body {
	color: #252A34;
	background-color: #EAEAEA;
}

#selamat-datang {
	padding-top: 2rem;
	background: rgb(88,84,154);
	background: linear-gradient(152deg, rgba(88,84,154,1) 0%, rgba(222,0,242,1) 100%); 	color: #eaeaea;
}